streamlit==1.16.0  # Latest stable version
transformers==4.30.0  # Upgrade to latest stable version
torch>=2.1.0  # Upgrade to latest version (check your compatibility)
scikit-learn==1.2.2  # Latest stable version
pandas==1.6.0  # Latest stable version
yake==0.4.7  # No need for update unless needed
matplotlib==3.7.0  # Latest stable version
seaborn==0.12.2  # Latest stable version
